utils/empty.py
NRC-Emotion-Lexicon-Wordlevel-v0.92.txt
utils/__pycache__/config.cpython-311.pyc
notebooks/catboost_info/catboost_training.json
notebooks/catboost_info/learn_error.tsv
notebooks/catboost_info/learn/events.out.tfevents
notebooks/catboost_info/time_left.tsv
notebooks/additional_dataset_review.ipynb
utils/__pycache__/custom_functions.cpython-311.pyc
model_checkpoints/best_checkpoint-epoch=5-val_accuracy=0.9834801554679871.ckpt
test_outputs/unchanged_test_model_512_additional_test_labels.json
test_outputs/unchanged_test_model_512_additional_test_logits.json
test_outputs/unchanged_test_model_512_additional_test_losses.json
test_outputs/unchanged_test_model_512_labels.json
test_outputs/unchanged_test_model_512_logits.json
test_outputs/unchanged_test_model_512_losses.json
training_logs/bert/version_0/hparams.yaml
utils/__pycache__/pytorch_modules.cpython-311.pyc
additionals/GoogleNews-vectors-negative300.bin
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9790672063827515.ckpt
utils/__pycache__/process_data_dl.cpython-311.pyc
model_checkpoints/best_checkpoint-epoch=2-val_accuracy=0.9959618449211121.ckpt
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9787077903747559.ckpt
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9908223152160645.ckpt
model_checkpoints/best_checkpoint-fifth-model-512-epoch=0-val_accuracy=0.968795895576477.ckpt
model_checkpoints/best_checkpoint-fifth-model-512-epoch=3-val_accuracy=0.9577826857566833.ckpt
model_checkpoints/best_checkpoint-first-model-512-epoch=0-val_accuracy=0.980543315410614.ckpt
model_checkpoints/best_checkpoint-second-model-128-epoch=0-val_accuracy=0.9915565252304077.ckpt
model_checkpoints/drive-download-20250104T095213Z-001.zip
model_checkpoints/drive-download-20250104T095213Z-002.zip
test_outputs/fifth_pipeline_test_model_512_additional_test_labels.json
test_outputs/fifth_pipeline_test_model_512_additional_test_logits.json
test_outputs/fifth_pipeline_test_model_512_additional_test_losses.json
test_outputs/fifth_pipeline_test_model_512_labels.json
test_outputs/fifth_pipeline_test_model_512_logits.json
test_outputs/fifth_pipeline_test_model_512_losses.json
test_outputs/first_pipeline_test_model_512_additional_test_labels.json
test_outputs/first_pipeline_test_model_512_additional_test_logits.json
test_outputs/first_pipeline_test_model_512_additional_test_losses.json
test_outputs/first_pipeline_test_model_512_labels.json
test_outputs/first_pipeline_test_model_512_logits.json
test_outputs/first_pipeline_test_model_512_losses.json
test_outputs/fourth_pipeline_test_model_512_additional_test_labels.json
test_outputs/fourth_pipeline_test_model_512_additional_test_logits.json
test_outputs/fourth_pipeline_test_model_512_additional_test_losses.json
test_outputs/fourth_pipeline_test_model_512_labels.json
test_outputs/fourth_pipeline_test_model_512_logits.json
test_outputs/fourth_pipeline_test_model_512_losses.json
test_outputs/second_pipeline_test_model_128_additional_test_labels.json
test_outputs/second_pipeline_test_model_128_additional_test_logits.json
test_outputs/second_pipeline_test_model_128_additional_test_losses.json
test_outputs/second_pipeline_test_model_128_labels.json
test_outputs/second_pipeline_test_model_128_logits.json
test_outputs/second_pipeline_test_model_128_losses.json
test_outputs/second_pipeline_test_model_512_additional_test_labels.json
test_outputs/second_pipeline_test_model_512_additional_test_logits.json
test_outputs/second_pipeline_test_model_512_additional_test_losses.json
test_outputs/second_pipeline_test_model_512_labels.json
test_outputs/second_pipeline_test_model_512_logits.json
test_outputs/second_pipeline_test_model_512_losses.json
test_outputs/third_pipeline_test_model_512_additional_test_labels.json
test_outputs/third_pipeline_test_model_512_additional_test_logits.json
test_outputs/third_pipeline_test_model_512_additional_test_losses.json
test_outputs/third_pipeline_test_model_512_labels.json
test_outputs/third_pipeline_test_model_512_logits.json
test_outputs/third_pipeline_test_model_512_losses.json
/data
notebooks/reduced_data.json
model_checkpoints/best_checkpoint-sixth-model-512-epoch=2-val_accuracy=0.9801762104034424.ckpt
test_outputs/sixth_pipeline_test_model_512_additional_test_labels.json
test_outputs/sixth_pipeline_test_model_512_additional_test_logits.json
test_outputs/sixth_pipeline_test_model_512_additional_test_losses.json
test_outputs/sixth_pipeline_test_model_512_labels.json
test_outputs/sixth_pipeline_test_model_512_logits.json
test_outputs/sixth_pipeline_test_model_512_losses.json
