utils/empty.py
data/combined_dataset.csv
data/combined_dataset3.csv
data/combined_dataset2.csv
NRC-Emotion-Lexicon-Wordlevel-v0.92.txt
data/combined_dataset4.csv
utils/__pycache__/config.cpython-311.pyc
data/combined_dataset5.csv
data/texts_long_cleaned.csv
data/texts_short_cleaned.csv
notebooks/catboost_info/catboost_training.json
notebooks/catboost_info/learn_error.tsv
notebooks/catboost_info/learn/events.out.tfevents
notebooks/catboost_info/time_left.tsv
data/fake_or_real_news.csv
data/gossipcop_fake.csv
data/politifact_fake.csv
notebooks/additional_dataset_review.ipynb
data/fake_or_real_news.csv_cleaned.csv
data/X_test.csv
data/X_test.csv_cleaned.csv
data/X_train_augmented_cleaned.csv
data/X_train.csv
data/X_val.csv
data/X_val.csv_cleaned.csv
data/y_test.csv
data/y_train.csv
data/y_val.csv
utils/__pycache__/custom_functions.cpython-311.pyc
model_checkpoints/best_checkpoint-epoch=5-val_accuracy=0.9834801554679871.ckpt
test_outputs/unchanged_test_model_512_additional_test_labels.json
test_outputs/unchanged_test_model_512_additional_test_logits.json
test_outputs/unchanged_test_model_512_additional_test_losses.json
test_outputs/unchanged_test_model_512_labels.json
test_outputs/unchanged_test_model_512_logits.json
test_outputs/unchanged_test_model_512_losses.json
training_logs/bert/version_0/hparams.yaml
utils/__pycache__/pytorch_modules.cpython-311.pyc
additionals/GoogleNews-vectors-negative300.bin
data/test_processed.csv
data/train_processed.csv
data/val_processed.csv
data/test_processed_pipeline_one.csv
data/train_processed_pipeline_one.csv
data/val_processed_pipeline_one.csv
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9790672063827515.ckpt
utils/__pycache__/process_data_dl.cpython-311.pyc
data/additional_set_processed_pipeline_five.csv
data/additional_set_processed_pipeline_four.csv
data/additional_set_processed_pipeline_one.csv
data/additional_set_processed_pipeline_three.csv
data/additional_set_processed_pipeline_two.csv
data/test_processed_pipeline_five.csv
data/test_processed_pipeline_four.csv
data/test_processed_pipeline_three.csv
data/test_processed_pipeline_two.csv
data/train_processed_pipeline_five.csv
data/train_processed_pipeline_four.csv
data/train_processed_pipeline_three.csv
data/train_processed_pipeline_two.csv
data/val_processed_pipeline_five.csv
data/val_processed_pipeline_four.csv
data/val_processed_pipeline_three.csv
data/val_processed_pipeline_two.csv
model_checkpoints/best_checkpoint-epoch=2-val_accuracy=0.9959618449211121.ckpt
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9787077903747559.ckpt
model_checkpoints/best_checkpoint-epoch=3-val_accuracy=0.9908223152160645.ckpt
model_checkpoints/best_checkpoint-fifth-model-512-epoch=0-val_accuracy=0.968795895576477.ckpt
model_checkpoints/best_checkpoint-fifth-model-512-epoch=3-val_accuracy=0.9577826857566833.ckpt
model_checkpoints/best_checkpoint-first-model-512-epoch=0-val_accuracy=0.980543315410614.ckpt
model_checkpoints/best_checkpoint-second-model-128-epoch=0-val_accuracy=0.9915565252304077.ckpt
model_checkpoints/drive-download-20250104T095213Z-001.zip
model_checkpoints/drive-download-20250104T095213Z-002.zip
test_outputs/fifth_pipeline_test_model_512_additional_test_labels.json
test_outputs/fifth_pipeline_test_model_512_additional_test_logits.json
test_outputs/fifth_pipeline_test_model_512_additional_test_losses.json
test_outputs/fifth_pipeline_test_model_512_labels.json
test_outputs/fifth_pipeline_test_model_512_logits.json
test_outputs/fifth_pipeline_test_model_512_losses.json
test_outputs/first_pipeline_test_model_512_additional_test_labels.json
test_outputs/first_pipeline_test_model_512_additional_test_logits.json
test_outputs/first_pipeline_test_model_512_additional_test_losses.json
test_outputs/first_pipeline_test_model_512_labels.json
test_outputs/first_pipeline_test_model_512_logits.json
test_outputs/first_pipeline_test_model_512_losses.json
test_outputs/fourth_pipeline_test_model_512_additional_test_labels.json
test_outputs/fourth_pipeline_test_model_512_additional_test_logits.json
test_outputs/fourth_pipeline_test_model_512_additional_test_losses.json
test_outputs/fourth_pipeline_test_model_512_labels.json
test_outputs/fourth_pipeline_test_model_512_logits.json
test_outputs/fourth_pipeline_test_model_512_losses.json
test_outputs/second_pipeline_test_model_128_additional_test_labels.json
test_outputs/second_pipeline_test_model_128_additional_test_logits.json
test_outputs/second_pipeline_test_model_128_additional_test_losses.json
test_outputs/second_pipeline_test_model_128_labels.json
test_outputs/second_pipeline_test_model_128_logits.json
test_outputs/second_pipeline_test_model_128_losses.json
test_outputs/second_pipeline_test_model_512_additional_test_labels.json
test_outputs/second_pipeline_test_model_512_additional_test_logits.json
test_outputs/second_pipeline_test_model_512_additional_test_losses.json
test_outputs/second_pipeline_test_model_512_labels.json
test_outputs/second_pipeline_test_model_512_logits.json
test_outputs/second_pipeline_test_model_512_losses.json
test_outputs/third_pipeline_test_model_512_additional_test_labels.json
test_outputs/third_pipeline_test_model_512_additional_test_logits.json
test_outputs/third_pipeline_test_model_512_additional_test_losses.json
test_outputs/third_pipeline_test_model_512_labels.json
test_outputs/third_pipeline_test_model_512_logits.json
test_outputs/third_pipeline_test_model_512_losses.json
data/test_processed_pipeline_six.csv
data/additional_set_processed_pipeline_six.csv
data/val_processed_pipeline_six.csv
data/train_processed_pipeline_six.csv
data/Fake_pca_reduced.csv
data/Fake_umap_reduced.csv
data/True_pca_reduced.csv
data/True_umap_reduced.csv
notebooks/outliers_in_groups.json
notebooks/reduced_data.json
model_checkpoints/best_checkpoint-sixth-model-512-epoch=2-val_accuracy=0.9801762104034424.ckpt
test_outputs/sixth_pipeline_test_model_512_additional_test_labels.json
test_outputs/sixth_pipeline_test_model_512_additional_test_logits.json
test_outputs/sixth_pipeline_test_model_512_additional_test_losses.json
test_outputs/sixth_pipeline_test_model_512_labels.json
test_outputs/sixth_pipeline_test_model_512_logits.json
test_outputs/sixth_pipeline_test_model_512_losses.json
data/additional_set_processed_ppipeline_five.csv
data/test_processed_ppipeline_five.csv
data/train_processed_ppipeline_five.csv
data/val_processed_ppipeline_five.csv

